# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile.prod
docker-compose.prod.yml
.dockerignore

# Documentation
README.md
*.md
